M+RHA"B`J(%%U:6QL($5D:71O<B!V,2XS+C<*("H@:'1T<',Z+R]Q=6EL;&IS
M+F-O;2\*("H@0V]P>7)I9VAT("AC*2`R,#$T+"!*87-O;B!#:&5N"B`J($-O
M<'ER:6=H="`H8RD@,C`Q,RP@<V%L97-F;W)C92YC;VT*("HO"BYQ;"UC;VYT
M86EN97(@>PH@(&)O>"US:7II;F<Z(&)O<F1E<BUB;W@["B`@9F]N="UF86UI
M;'DZ($AE;'9E=&EC82P@07)I86PL('-A;G,M<V5R:68["B`@9F]N="US:7IE
M.B`Q,W!X.PH@(&AE:6=H=#H@,3`P)3L*("!M87)G:6XZ(#!P>#L*("!P;W-I
M=&EO;CH@<F5L871I=F4["GT*+G%L+6-O;G1A:6YE<BYQ;"UD:7-A8FQE9"`N
M<6PM=&]O;'1I<"!["B`@=FES:6)I;&ET>3H@:&ED9&5N.PI]"BYQ;"UC;VYT
M86EN97(N<6PM9&ES86)L960@+G%L+65D:71O<B!U;%MD871A+6-H96-K961=
M(#X@;&DZ.F)E9F]R92!["B`@<&]I;G1E<BUE=F5N=',Z(&YO;F4["GT*+G%L
M+6-L:7!B;V%R9"!["B`@;&5F=#H@+3$P,#`P,'!X.PH@(&AE:6=H=#H@,7!X
M.PH@(&]V97)F;&]W+7DZ(&AI9&1E;CL*("!P;W-I=&EO;CH@86)S;VQU=&4[
M"B`@=&]P.B`U,"4["GT*+G%L+6-L:7!B;V%R9"!P('L*("!M87)G:6XZ(#`[
M"B`@<&%D9&EN9SH@,#L*?0HN<6PM961I=&]R('L*("!B;W@M<VEZ:6YG.B!B
M;W)D97(M8F]X.PH@(&QI;F4M:&5I9VAT.B`Q+C0R.PH@(&AE:6=H=#H@,3`P
M)3L*("!O=71L:6YE.B!N;VYE.PH@(&]V97)F;&]W+7DZ(&%U=&\["B`@<&%D
M9&EN9SH@,3)P>"`Q-7!X.PH@('1A8BUS:7IE.B`T.PH@("UM;WHM=&%B+7-I
M>F4Z(#0["B`@=&5X="UA;&EG;CH@;&5F=#L*("!W:&ET92US<&%C93H@<')E
M+7=R87`["B`@=V]R9"UW<F%P.B!B<F5A:RUW;W)D.PI]"BYQ;"UE9&ET;W(@
M/B`J('L*("!C=7)S;W(Z('1E>'0["GT*+G%L+65D:71O<B!P+`HN<6PM961I
M=&]R(&]L+`HN<6PM961I=&]R('5L+`HN<6PM961I=&]R('!R92P*+G%L+65D
M:71O<B!B;&]C:W%U;W1E+`HN<6PM961I=&]R(&@Q+`HN<6PM961I=&]R(&@R
M+`HN<6PM961I=&]R(&@S+`HN<6PM961I=&]R(&@T+`HN<6PM961I=&]R(&@U
M+`HN<6PM961I=&]R(&@V('L*("!M87)G:6XZ(#`["B`@<&%D9&EN9SH@,#L*
M("!C;W5N=&5R+7)E<V5T.B!L:7-T+3$@;&ES="TR(&QI<W0M,R!L:7-T+30@
M;&ES="TU(&QI<W0M-B!L:7-T+3<@;&ES="TX(&QI<W0M.3L*?0HN<6PM961I
M=&]R(&]L+`HN<6PM961I=&]R('5L('L*("!P861D:6YG+6QE9G0Z(#$N-65M
M.PI]"BYQ;"UE9&ET;W(@;VP@/B!L:2P*+G%L+65D:71O<B!U;"`^(&QI('L*
M("!L:7-T+7-T>6QE+71Y<&4Z(&YO;F4["GT*+G%L+65D:71O<B!U;"`^(&QI
M.CIB969O<F4@>PH@(&-O;G1E;G0Z("=<,C`R,B<["GT*+G%L+65D:71O<B!U
M;%MD871A+6-H96-K960]=')U95TL"BYQ;"UE9&ET;W(@=6Q;9&%T82UC:&5C
M:V5D/69A;'-E72!["B`@<&]I;G1E<BUE=F5N=',Z(&YO;F4["GT*+G%L+65D
M:71O<B!U;%MD871A+6-H96-K960]=')U95T@/B!L:2`J+`HN<6PM961I=&]R
M('5L6V1A=&$M8VAE8VME9#UF86QS95T@/B!L:2`J('L*("!P;VEN=&5R+65V
M96YT<SH@86QL.PI]"BYQ;"UE9&ET;W(@=6Q;9&%T82UC:&5C:V5D/71R=65=
M(#X@;&DZ.F)E9F]R92P*+G%L+65D:71O<B!U;%MD871A+6-H96-K960]9F%L
M<V5=(#X@;&DZ.F)E9F]R92!["B`@8V]L;W(Z(",W-S<["B`@8W5R<V]R.B!P
M;VEN=&5R.PH@('!O:6YT97(M979E;G1S.B!A;&P["GT*+G%L+65D:71O<B!U
M;%MD871A+6-H96-K960]=')U95T@/B!L:3HZ8F5F;W)E('L*("!C;VYT96YT
M.B`G7#(V,3$G.PI]"BYQ;"UE9&ET;W(@=6Q;9&%T82UC:&5C:V5D/69A;'-E
M72`^(&QI.CIB969O<F4@>PH@(&-O;G1E;G0Z("=<,C8Q,"<["GT*+G%L+65D
M:71O<B!L:3HZ8F5F;W)E('L*("!D:7-P;&%Y.B!I;FQI;F4M8FQO8VL["B`@
M=VAI=&4M<W!A8V4Z(&YO=W)A<#L*("!W:61T:#H@,2XR96T["GT*+G%L+65D
M:71O<B!L:3IN;W0H+G%L+61I<F5C=&EO;BUR=&PI.CIB969O<F4@>PH@(&UA
M<F=I;BUL969T.B`M,2XU96T["B`@;6%R9VEN+7)I9VAT.B`P+C-E;3L*("!T
M97AT+6%L:6=N.B!R:6=H=#L*?0HN<6PM961I=&]R(&QI+G%L+61I<F5C=&EO
M;BUR=&PZ.F)E9F]R92!["B`@;6%R9VEN+6QE9G0Z(#`N,V5M.PH@(&UA<F=I
M;BUR:6=H=#H@+3$N-65M.PI]"BYQ;"UE9&ET;W(@;VP@;&DZ;F]T*"YQ;"UD
M:7)E8W1I;VXM<G1L*2P*+G%L+65D:71O<B!U;"!L:3IN;W0H+G%L+61I<F5C
M=&EO;BUR=&PI('L*("!P861D:6YG+6QE9G0Z(#$N-65M.PI]"BYQ;"UE9&ET
M;W(@;VP@;&DN<6PM9&ER96-T:6]N+7)T;"P*+G%L+65D:71O<B!U;"!L:2YQ
M;"UD:7)E8W1I;VXM<G1L('L*("!P861D:6YG+7)I9VAT.B`Q+C5E;3L*?0HN
M<6PM961I=&]R(&]L(&QI('L*("!C;W5N=&5R+7)E<V5T.B!L:7-T+3$@;&ES
M="TR(&QI<W0M,R!L:7-T+30@;&ES="TU(&QI<W0M-B!L:7-T+3<@;&ES="TX
M(&QI<W0M.3L*("!C;W5N=&5R+6EN8W)E;65N=#H@;&ES="TP.PI]"BYQ;"UE
M9&ET;W(@;VP@;&DZ8F5F;W)E('L*("!C;VYT96YT.B!C;W5N=&5R*&QI<W0M
M,"P@9&5C:6UA;"D@)RX@)SL*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N
M="TQ('L*("!C;W5N=&5R+6EN8W)E;65N=#H@;&ES="TQ.PI]"BYQ;"UE9&ET
M;W(@;VP@;&DN<6PM:6YD96YT+3$Z8F5F;W)E('L*("!C;VYT96YT.B!C;W5N
M=&5R*&QI<W0M,2P@;&]W97(M86QP:&$I("<N("<["GT*+G%L+65D:71O<B!O
M;"!L:2YQ;"UI;F1E;G0M,2!["B`@8V]U;G1E<BUR97-E=#H@;&ES="TR(&QI
M<W0M,R!L:7-T+30@;&ES="TU(&QI<W0M-B!L:7-T+3<@;&ES="TX(&QI<W0M
M.3L*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N="TR('L*("!C;W5N=&5R
M+6EN8W)E;65N=#H@;&ES="TR.PI]"BYQ;"UE9&ET;W(@;VP@;&DN<6PM:6YD
M96YT+3(Z8F5F;W)E('L*("!C;VYT96YT.B!C;W5N=&5R*&QI<W0M,BP@;&]W
M97(M<F]M86XI("<N("<["GT*+G%L+65D:71O<B!O;"!L:2YQ;"UI;F1E;G0M
M,B!["B`@8V]U;G1E<BUR97-E=#H@;&ES="TS(&QI<W0M-"!L:7-T+34@;&ES
M="TV(&QI<W0M-R!L:7-T+3@@;&ES="TY.PI]"BYQ;"UE9&ET;W(@;VP@;&DN
M<6PM:6YD96YT+3,@>PH@(&-O=6YT97(M:6YC<F5M96YT.B!L:7-T+3,["GT*
M+G%L+65D:71O<B!O;"!L:2YQ;"UI;F1E;G0M,SIB969O<F4@>PH@(&-O;G1E
M;G0Z(&-O=6YT97(H;&ES="TS+"!D96-I;6%L*2`G+B`G.PI]"BYQ;"UE9&ET
M;W(@;VP@;&DN<6PM:6YD96YT+3,@>PH@(&-O=6YT97(M<F5S970Z(&QI<W0M
M-"!L:7-T+34@;&ES="TV(&QI<W0M-R!L:7-T+3@@;&ES="TY.PI]"BYQ;"UE
M9&ET;W(@;VP@;&DN<6PM:6YD96YT+30@>PH@(&-O=6YT97(M:6YC<F5M96YT
M.B!L:7-T+30["GT*+G%L+65D:71O<B!O;"!L:2YQ;"UI;F1E;G0M-#IB969O
M<F4@>PH@(&-O;G1E;G0Z(&-O=6YT97(H;&ES="TT+"!L;W=E<BUA;'!H82D@
M)RX@)SL*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N="TT('L*("!C;W5N
M=&5R+7)E<V5T.B!L:7-T+34@;&ES="TV(&QI<W0M-R!L:7-T+3@@;&ES="TY
M.PI]"BYQ;"UE9&ET;W(@;VP@;&DN<6PM:6YD96YT+34@>PH@(&-O=6YT97(M
M:6YC<F5M96YT.B!L:7-T+34["GT*+G%L+65D:71O<B!O;"!L:2YQ;"UI;F1E
M;G0M-3IB969O<F4@>PH@(&-O;G1E;G0Z(&-O=6YT97(H;&ES="TU+"!L;W=E
M<BUR;VUA;BD@)RX@)SL*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N="TU
M('L*("!C;W5N=&5R+7)E<V5T.B!L:7-T+38@;&ES="TW(&QI<W0M."!L:7-T
M+3D["GT*+G%L+65D:71O<B!O;"!L:2YQ;"UI;F1E;G0M-B!["B`@8V]U;G1E
M<BUI;F-R96UE;G0Z(&QI<W0M-CL*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN
M9&5N="TV.F)E9F]R92!["B`@8V]N=&5N=#H@8V]U;G1E<BAL:7-T+38L(&1E
M8VEM86PI("<N("<["GT*+G%L+65D:71O<B!O;"!L:2YQ;"UI;F1E;G0M-B![
M"B`@8V]U;G1E<BUR97-E=#H@;&ES="TW(&QI<W0M."!L:7-T+3D["GT*+G%L
M+65D:71O<B!O;"!L:2YQ;"UI;F1E;G0M-R!["B`@8V]U;G1E<BUI;F-R96UE
M;G0Z(&QI<W0M-SL*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N="TW.F)E
M9F]R92!["B`@8V]N=&5N=#H@8V]U;G1E<BAL:7-T+3<L(&QO=V5R+6%L<&AA
M*2`G+B`G.PI]"BYQ;"UE9&ET;W(@;VP@;&DN<6PM:6YD96YT+3<@>PH@(&-O
M=6YT97(M<F5S970Z(&QI<W0M."!L:7-T+3D["GT*+G%L+65D:71O<B!O;"!L
M:2YQ;"UI;F1E;G0M."!["B`@8V]U;G1E<BUI;F-R96UE;G0Z(&QI<W0M.#L*
M?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N="TX.F)E9F]R92!["B`@8V]N
M=&5N=#H@8V]U;G1E<BAL:7-T+3@L(&QO=V5R+7)O;6%N*2`G+B`G.PI]"BYQ
M;"UE9&ET;W(@;VP@;&DN<6PM:6YD96YT+3@@>PH@(&-O=6YT97(M<F5S970Z
M(&QI<W0M.3L*?0HN<6PM961I=&]R(&]L(&QI+G%L+6EN9&5N="TY('L*("!C
M;W5N=&5R+6EN8W)E;65N=#H@;&ES="TY.PI]"BYQ;"UE9&ET;W(@;VP@;&DN
M<6PM:6YD96YT+3DZ8F5F;W)E('L*("!C;VYT96YT.B!C;W5N=&5R*&QI<W0M
M.2P@9&5C:6UA;"D@)RX@)SL*?0HN<6PM961I=&]R("YQ;"UI;F1E;G0M,3IN
M;W0H+G%L+61I<F5C=&EO;BUR=&PI('L*("!P861D:6YG+6QE9G0Z(#-E;3L*
M?0HN<6PM961I=&]R(&QI+G%L+6EN9&5N="TQ.FYO="@N<6PM9&ER96-T:6]N
M+7)T;"D@>PH@('!A9&1I;F<M;&5F=#H@-"XU96T["GT*+G%L+65D:71O<B`N
M<6PM:6YD96YT+3$N<6PM9&ER96-T:6]N+7)T;"YQ;"UA;&EG;BUR:6=H="![
M"B`@<&%D9&EN9RUR:6=H=#H@,V5M.PI]"BYQ;"UE9&ET;W(@;&DN<6PM:6YD
M96YT+3$N<6PM9&ER96-T:6]N+7)T;"YQ;"UA;&EG;BUR:6=H="!["B`@<&%D
M9&EN9RUR:6=H=#H@-"XU96T["GT*+G%L+65D:71O<B`N<6PM:6YD96YT+3(Z
M;F]T*"YQ;"UD:7)E8W1I;VXM<G1L*2!["B`@<&%D9&EN9RUL969T.B`V96T[
M"GT*+G%L+65D:71O<B!L:2YQ;"UI;F1E;G0M,CIN;W0H+G%L+61I<F5C=&EO
M;BUR=&PI('L*("!P861D:6YG+6QE9G0Z(#<N-65M.PI]"BYQ;"UE9&ET;W(@
M+G%L+6EN9&5N="TR+G%L+61I<F5C=&EO;BUR=&PN<6PM86QI9VXM<FEG:'0@
M>PH@('!A9&1I;F<M<FEG:'0Z(#9E;3L*?0HN<6PM961I=&]R(&QI+G%L+6EN
M9&5N="TR+G%L+61I<F5C=&EO;BUR=&PN<6PM86QI9VXM<FEG:'0@>PH@('!A
M9&1I;F<M<FEG:'0Z(#<N-65M.PI]"BYQ;"UE9&ET;W(@+G%L+6EN9&5N="TS
M.FYO="@N<6PM9&ER96-T:6]N+7)T;"D@>PH@('!A9&1I;F<M;&5F=#H@.65M
M.PI]"BYQ;"UE9&ET;W(@;&DN<6PM:6YD96YT+3,Z;F]T*"YQ;"UD:7)E8W1I
M;VXM<G1L*2!["B`@<&%D9&EN9RUL969T.B`Q,"XU96T["GT*+G%L+65D:71O
M<B`N<6PM:6YD96YT+3,N<6PM9&ER96-T:6]N+7)T;"YQ;"UA;&EG;BUR:6=H
M="!["B`@<&%D9&EN9RUR:6=H=#H@.65M.PI]"BYQ;"UE9&ET;W(@;&DN<6PM
M:6YD96YT+3,N<6PM9&ER96-T:6]N+7)T;"YQ;"UA;&EG;BUR:6=H="!["B`@
M<&%D9&EN9RUR:6=H=#H@,3`N-65M.PI]"BYQ;"UE9&ET;W(@+G%L+6EN9&5N
M="TT.FYO="@N<6PM9&ER96-T:6]N+7)T;"D@>PH@('!A9&1I;F<M;&5F=#H@
M,3)E;3L*?0HN<6PM961I=&]R(&QI+G%L+6EN9&5N="TT.FYO="@N<6PM9&ER
M96-T:6]N+7)T;"D@>PH@('!A9&1I;F<M;&5F=#H@,3,N-65M.PI]"BYQ;"UE
M9&ET;W(@+G%L+6EN9&5N="TT+G%L+61I<F5C=&EO;BUR=&PN<6PM86QI9VXM
M<FEG:'0@>PH@('!A9&1I;F<M<FEG:'0Z(#$R96T["GT*+G%L+65D:71O<B!L
M:2YQ;"UI;F1E;G0M-"YQ;"UD:7)E8W1I;VXM<G1L+G%L+6%L:6=N+7)I9VAT
M('L*("!P861D:6YG+7)I9VAT.B`Q,RXU96T["GT*+G%L+65D:71O<B`N<6PM
M:6YD96YT+34Z;F]T*"YQ;"UD:7)E8W1I;VXM<G1L*2!["B`@<&%D9&EN9RUL
M969T.B`Q-65M.PI]"BYQ;"UE9&ET;W(@;&DN<6PM:6YD96YT+34Z;F]T*"YQ
M;"UD:7)E8W1I;VXM<G1L*2!["B`@<&%D9&EN9RUL969T.B`Q-BXU96T["GT*
M+G%L+65D:71O<B`N<6PM:6YD96YT+34N<6PM9&ER96-T:6]N+7)T;"YQ;"UA
M;&EG;BUR:6=H="!["B`@<&%D9&EN9RUR:6=H=#H@,35E;3L*?0HN<6PM961I
M=&]R(&QI+G%L+6EN9&5N="TU+G%L+61I<F5C=&EO;BUR=&PN<6PM86QI9VXM
M<FEG:'0@>PH@('!A9&1I;F<M<FEG:'0Z(#$V+C5E;3L*?0HN<6PM961I=&]R
M("YQ;"UI;F1E;G0M-CIN;W0H+G%L+61I<F5C=&EO;BUR=&PI('L*("!P861D
M:6YG+6QE9G0Z(#$X96T["GT*+G%L+65D:71O<B!L:2YQ;"UI;F1E;G0M-CIN
M;W0H+G%L+61I<F5C=&EO;BUR=&PI('L*("!P861D:6YG+6QE9G0Z(#$Y+C5E
M;3L*?0HN<6PM961I=&]R("YQ;"UI;F1E;G0M-BYQ;"UD:7)E8W1I;VXM<G1L
M+G%L+6%L:6=N+7)I9VAT('L*("!P861D:6YG+7)I9VAT.B`Q.&5M.PI]"BYQ
M;"UE9&ET;W(@;&DN<6PM:6YD96YT+38N<6PM9&ER96-T:6]N+7)T;"YQ;"UA
M;&EG;BUR:6=H="!["B`@<&%D9&EN9RUR:6=H=#H@,3DN-65M.PI]"BYQ;"UE
M9&ET;W(@+G%L+6EN9&5N="TW.FYO="@N<6PM9&ER96-T:6]N+7)T;"D@>PH@
M('!A9&1I;F<M;&5F=#H@,C%E;3L*?0HN<6PM961I=&]R(&QI+G%L+6EN9&5N
M="TW.FYO="@N<6PM9&ER96-T:6]N+7)T;"D@>PH@('!A9&1I;F<M;&5F=#H@
M,C(N-65M.PI]"BYQ;"UE9&ET;W(@+G%L+6EN9&5N="TW+G%L+61I<F5C=&EO
M;BUR=&PN<6PM86QI9VXM<FEG:'0@>PH@('!A9&1I;F<M<FEG:'0Z(#(Q96T[
M"GT*+G%L+65D:71O<B!L:2YQ;"UI;F1E;G0M-RYQ;"UD:7)E8W1I;VXM<G1L
M+G%L+6%L:6=N+7)I9VAT('L*("!P861D:6YG+7)I9VAT.B`R,BXU96T["GT*
M+G%L+65D:71O<B`N<6PM:6YD96YT+3@Z;F]T*"YQ;"UD:7)E8W1I;VXM<G1L
M*2!["B`@<&%D9&EN9RUL969T.B`R-&5M.PI]"BYQ;"UE9&ET;W(@;&DN<6PM
M:6YD96YT+3@Z;F]T*"YQ;"UD:7)E8W1I;VXM<G1L*2!["B`@<&%D9&EN9RUL
M969T.B`R-2XU96T["GT*+G%L+65D:71O<B`N<6PM:6YD96YT+3@N<6PM9&ER
M96-T:6]N+7)T;"YQ;"UA;&EG;BUR:6=H="!["B`@<&%D9&EN9RUR:6=H=#H@
M,C1E;3L*?0HN<6PM961I=&]R(&QI+G%L+6EN9&5N="TX+G%L+61I<F5C=&EO
M;BUR=&PN<6PM86QI9VXM<FEG:'0@>PH@('!A9&1I;F<M<FEG:'0Z(#(U+C5E
M;3L*?0HN<6PM961I=&]R("YQ;"UI;F1E;G0M.3IN;W0H+G%L+61I<F5C=&EO
M;BUR=&PI('L*("!P861D:6YG+6QE9G0Z(#(W96T["GT*+G%L+65D:71O<B!L
M:2YQ;"UI;F1E;G0M.3IN;W0H+G%L+61I<F5C=&EO;BUR=&PI('L*("!P861D
M:6YG+6QE9G0Z(#(X+C5E;3L*?0HN<6PM961I=&]R("YQ;"UI;F1E;G0M.2YQ
M;"UD:7)E8W1I;VXM<G1L+G%L+6%L:6=N+7)I9VAT('L*("!P861D:6YG+7)I
M9VAT.B`R-V5M.PI]"BYQ;"UE9&ET;W(@;&DN<6PM:6YD96YT+3DN<6PM9&ER
M96-T:6]N+7)T;"YQ;"UA;&EG;BUR:6=H="!["B`@<&%D9&EN9RUR:6=H=#H@
M,C@N-65M.PI]"BYQ;"UE9&ET;W(@+G%L+79I9&5O('L*("!D:7-P;&%Y.B!B
M;&]C:SL*("!M87@M=VED=&@Z(#$P,"4["GT*+G%L+65D:71O<B`N<6PM=FED
M96\N<6PM86QI9VXM8V5N=&5R('L*("!M87)G:6XZ(#`@875T;SL*?0HN<6PM
M961I=&]R("YQ;"UV:61E;RYQ;"UA;&EG;BUR:6=H="!["B`@;6%R9VEN.B`P
M(#`@,"!A=71O.PI]"BYQ;"UE9&ET;W(@+G%L+6)G+6)L86-K('L*("!B86-K
M9W)O=6YD+6-O;&]R.B`C,#`P.PI]"BYQ;"UE9&ET;W(@+G%L+6)G+7)E9"![
M"B`@8F%C:V=R;W5N9"UC;VQO<CH@(V4V,#`P,#L*?0HN<6PM961I=&]R("YQ
M;"UB9RUO<F%N9V4@>PH@(&)A8VMG<F]U;F0M8V]L;W(Z("-F.3`["GT*+G%L
M+65D:71O<B`N<6PM8F<M>65L;&]W('L*("!B86-K9W)O=6YD+6-O;&]R.B`C
M9F8P.PI]"BYQ;"UE9&ET;W(@+G%L+6)G+6=R965N('L*("!B86-K9W)O=6YD
M+6-O;&]R.B`C,#`X83`P.PI]"BYQ;"UE9&ET;W(@+G%L+6)G+6)L=64@>PH@
M(&)A8VMG<F]U;F0M8V]L;W(Z(",P-F,["GT*+G%L+65D:71O<B`N<6PM8F<M
M<'5R<&QE('L*("!B86-K9W)O=6YD+6-O;&]R.B`C.3-F.PI]"BYQ;"UE9&ET
M;W(@+G%L+6-O;&]R+7=H:71E('L*("!C;VQO<CH@(V9F9CL*?0HN<6PM961I
M=&]R("YQ;"UC;VQO<BUR960@>PH@(&-O;&]R.B`C938P,#`P.PI]"BYQ;"UE
M9&ET;W(@+G%L+6-O;&]R+6]R86YG92!["B`@8V]L;W(Z("-F.3`["GT*+G%L
M+65D:71O<B`N<6PM8V]L;W(M>65L;&]W('L*("!C;VQO<CH@(V9F,#L*?0HN
M<6PM961I=&]R("YQ;"UC;VQO<BUG<F5E;B!["B`@8V]L;W(Z(",P,#AA,#`[
M"GT*+G%L+65D:71O<B`N<6PM8V]L;W(M8FQU92!["B`@8V]L;W(Z(",P-F,[
M"GT*+G%L+65D:71O<B`N<6PM8V]L;W(M<'5R<&QE('L*("!C;VQO<CH@(SDS
M9CL*?0HN<6PM961I=&]R("YQ;"UF;VYT+7-E<FEF('L*("!F;VYT+69A;6EL
M>3H@1V5O<F=I82P@5&EM97,@3F5W(%)O;6%N+"!S97)I9CL*?0HN<6PM961I
M=&]R("YQ;"UF;VYT+6UO;F]S<&%C92!["B`@9F]N="UF86UI;'DZ($UO;F%C
M;RP@0V]U<FEE<B!.97<L(&UO;F]S<&%C93L*?0HN<6PM961I=&]R("YQ;"US
M:7IE+7-M86QL('L*("!F;VYT+7-I>F4Z(#`N-S5E;3L*?0HN<6PM961I=&]R
M("YQ;"US:7IE+6QA<F=E('L*("!F;VYT+7-I>F4Z(#$N-65M.PI]"BYQ;"UE
M9&ET;W(@+G%L+7-I>F4M:'5G92!["B`@9F]N="US:7IE.B`R+C5E;3L*?0HN
M<6PM961I=&]R("YQ;"UD:7)E8W1I;VXM<G1L('L*("!D:7)E8W1I;VXZ(')T
M;#L*("!T97AT+6%L:6=N.B!I;FAE<FET.PI]"BYQ;"UE9&ET;W(@+G%L+6%L
M:6=N+6-E;G1E<B!["B`@=&5X="UA;&EG;CH@8V5N=&5R.PI]"BYQ;"UE9&ET
M;W(@+G%L+6%L:6=N+6IU<W1I9GD@>PH@('1E>'0M86QI9VXZ(&IU<W1I9GD[
M"GT*+G%L+65D:71O<B`N<6PM86QI9VXM<FEG:'0@>PH@('1E>'0M86QI9VXZ
M(')I9VAT.PI]"BYQ;"UE9&ET;W(N<6PM8FQA;FLZ.F)E9F]R92!["B`@8V]L
M;W(Z(')G8F$H,"PP+#`L,"XV*3L*("!C;VYT96YT.B!A='1R*&1A=&$M<&QA
M8V5H;VQD97(I.PH@(&9O;G0M<W1Y;&4Z(&ET86QI8SL*("!L969T.B`Q-7!X
M.PH@('!O:6YT97(M979E;G1S.B!N;VYE.PH@('!O<VET:6]N.B!A8G-O;'5T
493L*("!R:6=H=#H@,35P>#L*?0H`
`
